{% extends "layout/main.twig" %}

{% block title %}Calendar{% endblock %}

{% block content %}
<div class="row">
    <h2>Calendar</h2>
</div>

<div class="row">
    {% for daily in calendar %}
        <div class="col-lg-2 col-md-3 col-6">
            <a href="{{ path_for('screenshot_date', {'date': daily.date.toDateString}) }}">{{ daily.date.toDateString }}</a>
            <span class="badge badge-primary">{{ daily.count }}</span>
        </div>
    {% endfor %}
</div>
{% endblock %}