{% extends "layout/main.twig" %}

{% block title %}Calendar{% endblock %}

{% block content %}
<div class="row column">
    <h2>Calendar</h2>
</div>
<div class="row small-up-4">
    {% for daily in calendar %}
    <div class="column column-block">
        <div class="callout clearfix">
            <p>
                <a href="{{ path_for('screenshot_date', {'date': daily.date.toDateString}) }}" class="float-left">{{ daily.date.toDateString }}</a>
                <span class="label float-right">{{ daily.count }}</span>
            </p>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}