{% extends "layout/main.twig" %}

{% block title %}List{% endblock %}

{% block content %}
    <div class="row">
        {% for image in images %}
            <div class="col-4">
                <div class="card my-2">
                    <img class="card-img-top img-fluid" src="/image/{{ image.id }}?w=600">

                    <div class="card-block">
                        <p class="card-text">Shooted at {{ image.attr('shooted_at') }}</p>
                    </div>

                    <div class="card-footer">
                        <small class="text-muted">id: {{ image.id }}</small>
                    </div>
                </div>
            </div>

        {% endfor %}
    </div>
{% endblock %}