{% extends "layout/main.twig" %}

{% block title %}List{% endblock %}

{% block content %}
    <h2>Screenshots</h2>
    <div class="row small-up-1 medium-up-2">
        {% for image in images %}
        <div class="column">
            <div class="card">
                <div class="card-divider">
                    <p>Shooted at: {{ image.shooted_at|date("F jS \\a\\t g:ia") }}</p>
                </div>
                <img src="/image/{{ image.screenshot_id }}" alt="recent screenshot" />
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}