{% extends "layout/main.twig" %}

{% block title %}List{% endblock %}

{% block content %}
    <div class="row align-center">
        <div class="small-10 column">
            <div class="orbit" role="region" aria-label="" data-orbit data-timer-delay="1500" data-use-m-u-i="false" data-auto-play="true">
                <ul class="orbit-container text-center">
                    {% for image in images %}
                        <li class="orbit-slide">
                            <img class="" src="/image/{{ image.id }}" alt="recent screenshot" />
                        </li>
                    {% endfor %}
                </ul>
                <nav class="orbit-bullets">
                    {% for image in images %}
                        {% if loop.first %}
                            <button class="is-active" data-slide="{{ loop.index0 }}"></button>
                        {% else %}
                            <button data-slide="{{ loop.index0 }}"></button>
                        {% endif %}
                    {% endfor %}
                </nav>
            </div>
        </div>
    </div>
{% endblock %}