{% extends "layout/main.twig" %}

{% block title %}Index{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-8">
            <div class="card">
                <h3 class="card-header text-center">
                    Shooted at: {{ image.attr('shooted_at') }}
                </h3>
                <img class="card-img-top img-fluid" src="/image/{{ image.id }}" alt="recent screenshot" />
            </div>
        </div>
    </div>
{% endblock %}