{% extends "layout/main.twig" %}

{% block title %}Index{% endblock %}

{% block content %}
    <h1>Index</h1>
    <div>
        <p>Shooted at: {{ image.shooted_at|date("F jS \\a\\t g:ia") }}</p>
        <img src="/image/{{ image.screenshot_id }}" alt="" />
    </div>
{% endblock %}