<!DOCTYPE html>
<html>
<head>
    {% block head %}
    <title>{% block title %}{% endblock %} - Setl Polustrovo</title>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/foundation.css" />
    <link rel="stylesheet" href="/css/foundation-icons.css" />
    {% endblock %}
</head>
<body>
    <div class="callout small primary">
        <div class="row-column text-center">
            <h1>Screenshots</h1>
        </div>
    </div>
    <nav class=" menu-centered">
        <ul class="menu simple">
            <li><a href="{{ path_for('home') }}"><i class="fi-home"></i> Home</a></li>
            <li><a href="{{ path_for('screenshot_current_week') }}">Current week</a></li>
            <li><a href="{{ path_for('screenshot_calendar') }}">Calendar</a></li>
        </ul>
    </nav>

        {% block content %}{% endblock %}


    <script src="/js/vendor/jquery.js"></script>
    <script src="/js/vendor/foundation.min.js"></script>
    <script src="/js/app.js"></script>
</body>
</html>